.body {
    margin: 0;
    padding: 0;
    background-color: rgb(148, 111, 182);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quadrado {
    background-color: rgb(155, 107, 201);
    display: flex;
    justify-content: center;
    padding: 30px;
}